button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	background: transparent;
	color: rgba(0, 0, 0, .8);
	@include font-size(1); // 1
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	border: 2px solid $color__text-screen;
	padding: 10px 20px;

	&:hover {
		border-color: $color__border-button-hover;
		color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		color: $color__border-button-focus;
		border-color: $color__border-button-focus;
	}
}
