.main-navigation {
	position: relative;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}

	.menu-toggle {
		position: absolute;
		top: 50%;
		right: -80px;
		margin-top: -16px;
		color: white;
		border-color: white;
		@include font-size( .875 ); // 14
		padding: 5px 10px;

		&:hover {
			opacity: .8;
		}

		&:active {
			opacity: .6;
		}
	}
}

/* Small menu. */
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	background: $color__background-post;
	margin-top: 4em;

	.site-main & {
		overflow: hidden;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;

		&:before,
		&:after {
			font-family: 'Genericons';
		}
	}

	& .nav-previous {
		float: left;
		width: 50%;

		a {
			&:before {
				content: '\f430';
				margin-right: 10px;
			}
		}
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;

		a {
			&:after {
				content: '\f429';
				margin-left: 10px;
			}
		}
	}
}
