.sticky {
	display: block;
}

.hentry {
	.wrap-content {
		background: #F7F7F7;
		padding: 2em 0;
	}

	&.sticky {
		.wrap-content {
				background: $color__background-post-sticky;
				border-bottom: 1px solid $color__border-post-sticky;
		}

		&:last-of-type {
			.wrap-content {
			}
		}
	}

	.entry-title {
		margin: 0;
		// font-weight: 400;
		@include font-size( 2.25 ); // 36

		a {
			text-decoration: none;
		}
	}

	.entry-meta {
		> span {
			display: block;
			color: $color__text-meta;
			position: relative;
			margin-bottom: 5px;
			@include font-size( .875 ); // 14

			a {
				text-decoration: none;
				color: $color__text-meta;

				&:hover {
					text-decoration: underline;
				}
			}

			&:before {
				font-family: 'Genericons';
				margin-right: 5px;
				position: absolute;
				top: 0;
				left: -25px;
				@include font-size( 1 ); // 16
			}
		}

		.posted-on {
			&:before {
				content: '\f303';
			}
		}

		.byline {
			&:before {
				content: '\f304';
			}
		}

		.cat-links {
			&:before {
				content: '\f301';
			}
		}

		.tags-links {
			&:before {
				content: '\f302';
			}
		}

		.comments-link {
			&:before {
				content: '\f300';
			}
		}
	}

	.entry-content {
		@include font-size( 1.5 ); // 24
		line-height: 1.6;
	}

	.more-link {
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		@include font-size( 1 ); // 16
		letter-spacing: 3px;
		color: $color__text-screen;
		border: 2px solid $color__text-screen;
		padding: 13px 20px;

		&:hover {
			background: $color__text-screen;
			color: white;
		}

		&:active {
			opacity: .75;
		}
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

@media all and ( min-width: 980px ) {
	.hentry {
		.entry-header,
		.entry-content {
			width: 630px;
		}

		.entry-header {
			position: relative;

			.entry-meta {
				position: absolute;
				left: 113%;
				width: 200px;
			}
		}
	}
}
